* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0f1213;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
