.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #404040;
    height: 5rem;
    background-color: black;
    flex: 1;
    z-index: 10;
}

.header__1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__1 > svg{
    color: white;
    font-size: 3rem;
}
.header__1 > svg:hover{
    cursor: pointer;
}

.heading{
    font-size: 1.5rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.header__3 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 400ms;
}
.header__3 img:hover{
    width: 65px;
    height: 65px;
}

.header__2{
    flex: 0.5;
    min-width: 250px;
}
.header__2 > form{
    width: 100%;
}
.header__2 > form > input{
    width: 100%;
    background-color: transparent;
    color: white;
    outline: none;
    border: 2px solid #404040;
    padding: 0.5rem 0.75rem;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.header__sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 100;
    padding: 1rem ;
    animation: animate 200ms linear;
}

@keyframes animate{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.header__sidebar__1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.header__sidebar__1 > svg{
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.nav__links{
    display: flex;
    flex-direction: column;
}

.nav__links > a{
    margin: 0.75rem 0;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    transition: 300ms;
}
.nav__links > a > svg{
    font-size: 2rem;
    margin-right: 1rem;
}

.nav__links > a:hover{
    color: red;
}

.loading__msg{
    color: red;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search__results{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}
.search__results > a{
    width: 100%;
    max-width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.search__results > a > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.sign__link{
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: 300ms;
}
.sign__link:hover{
    color: red;
}

@media (max-width: 600px){
    .search__results > a{
        max-width: 200px;
        height: 150px;
    }
}

@media (max-width: 463px){
    .search__results > a{
        max-width: 170px;
        height: 120px;
    }
    .search__results > a > p{
        font-size: 0.9rem;
    }
}