.history__container{
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.history__container > h1{
    font-weight: normal;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #404040;
    padding-bottom: 1rem;
}

.videos__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.video__container{
    width: 100%;
    max-width: 320px;
    margin: 0.5rem;
}
